/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

label.xng-breadcrumb-trail {
    color: orange
}

body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
}

body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}