<ngx-spinner type="timer">
    <h3>Loading...</h3>
</ngx-spinner>
<app-nav-bar></app-nav-bar>
<app-section-header></app-section-header>
<router-outlet></router-outlet>
<app-scrolltop></app-scrolltop>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>