.scroll-button {
    // animation: moveUpAndDown 1s infinite alternate;
    width: 36px;
    height: 36px;
    border: 3px solid #04070c50;
    z-index: 999;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transform: translateY(0);
    color: #10151f50;
    font-size: 16px;
    background: #ffffff;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &:hover {
        color: #fff;
    }
}

.scroll-button:hover {
    background-color: #00000050;
}

.show {
    opacity: 1;
    transform: translateY(-10px);
}