.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange
    }

}

.btn-outline-secondary:not([disabled]):not(.disabled):active,
.btn-outline-secondary:not([disabled]):not(.disabled):focus,
.btn-outline-secondary:not([disabled]):not(.disabled):hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}